[Unit]
Description=Ericom Shield Service
After=docker.service
BindsTo=docker.service
Conflicts=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
TimeoutStartSec=0
TimeoutStopSec=0
Restart=no
RestartSec=10

WorkingDirectory=/usr/local/ericomshield

Environment=STACK_NAME='shield'
Environment=ES_YML_FILE=/usr/local/ericomshield/docker-compose.yml
ExecStartPre=/bin/sh -c 'test ! -d "/tmp/containershm" || exit 0; mkdir "/tmp/containershm" && mount -t tmpfs -o size=2G tmpfs "/tmp/containershm"'
ExecStart=/usr/bin/docker stack deploy -c $ES_YML_FILE --with-registry-auth $STACK_NAME
RemainAfterExit=true
ExecStop=/usr/bin/docker stack rm $STACK_NAME
ExecStopPost=/bin/sh -c 'umount "/tmp/containershm" && rmdir "/tmp/containershm"'

NotifyAccess=all

[Install]
WantedBy=multi-user.target
