[Desktop Entry]
Name=Ericom Shield
Exec=AppRun
Icon=EricomShield
Type=Application
Categories=Network;
Name[en]=Ericom Shield
Terminal=true
StartupNotify=true
NoDisplay=false
Hidden=false
